{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;

    // var socket = new WebSocket(
    //     'ws://your url here:8765/');
    var socket = new WebSocket('ws://p4-zscheftel-zscheftel981380.codeanyapp.com:8765/');
  
    function randColor() {
      var a = Math.random();
      var b = Math.random();
      var c = Math.random();
      if (a + b + c < 0.5) {
        a *= 2;
        b *= 2;
        c *= 2;
      }
      return [a, b, c]
      
    }
  
    socket.onopen = function (event) {
      
      var myID = Math.random() * 100;
      var myPath = new paper.Path();
      var rand = randColor();
      myPath.strokeColor = new paper.Color(rand[0], rand[1], rand[2]);
      
      var path1 = new paper.Path();
      var path1id = -1;
      var path2 = new paper.Path();
      var path2id = -1;
      
      tool.onMouseMove = function (event){
        if (url === "http://p4-zscheftel-zscheftel981380.codeanyapp.com:8000/draw/?size=small") {
          var point = {
             x: event.point.x,
             y: event.point.y,
             red: myPath.strokeColor.red,
             green: myPath.strokeColor.green,
             blue: myPath.strokeColor.blue,
             id: myID
          }
          myPath.lineTo(new paper.Point(point.x, point.y));
          socket.send(JSON.stringify(point));
        }
      }
      
      window.addEventListener('deviceorientation', function(e) {
         console.log(e.gamma);
          if (e.gamma > 60) {
              rand = randColor();
              myPath.strokeColor = new paper.Color(rand[0], rand[1], rand[2]);
          }
      });

      let lastX, lastY, lastZ;
      let moveCounter = 0;
      window.addEventListener('devicemotion', function(e) {
        let acc = e.acceleration;
        if(!acc.hasOwnProperty('x')) {
          acc = e.accelerationIncludingGravity;
        }
        if(!acc.x) return;

        //only log if x,y,z > 1
        if(Math.abs(acc.x) >= 1 &&
        Math.abs(acc.y) >= 1 &&
        Math.abs(acc.z) >=1) {
          if(!lastX) {
            lastX = acc.x;
            lastY = acc.y;
            lastZ = acc.z;
            return;
          }

          let deltaX = Math.abs(acc.x - lastX);
          let deltaY = Math.abs(acc.y - lastY);
          let deltaZ = Math.abs(acc.z - lastZ);

          if(deltaX + deltaY + deltaZ > 30) {
            moveCounter++;
          } else {
            moveCounter = Math.max(0, --moveCounter);
          }

          if(moveCounter > 2) {
            alert('SHAKE!!!');
            var oldStrokeColor = myPath.strokeColor;
            paper.project.activeLayer.removeChildren();
            paper.view.draw();
            myPath = new paper.Path();
            myPath.strokeColor = oldStrokeColor;
            moveCounter = 0;
          }
         
          lastX = acc.x;
          lastY = acc.y;
          lastZ = acc.z;
		
      }});
      socket.onmessage = function (event){
        if (url === "http://p4-zscheftel-zscheftel981380.codeanyapp.com:8000/draw/?size=large") { 
          var point = JSON.parse(event.data);
          if (path1id === -1) {
            path1id = point.id;
            path1.strokeColor = new paper.Color(point.red, point.green, point.blue);
          }
          else if (path2id === -1 & path1id !== point.id) {
            path2id = point.id;
            path2.strokeColor = new paper.Color(point.red, point.green, point.blue);
          }
          if (path1id === point.id) {
            path1.lineTo(new paper.Point(point.x, point.y)); 
          }
          if (path2id === point.id) {
            path2.lineTo(new paper.Point(point.x, point.y))
          }
        }
        console.log(path1id, path2id);
    }
      
    }
  
  
</script>
</html>