{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Prototype</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
  <h1> Final Touches </h1>    
  <form action="{% url 'custom' %}">
    Your Name:<br>
    <input type="text" name="name" placeholder="Max Miranda">
    <br>
    Your Recipe's Name:<br>
    <input type="text" name="recipeName" placeholder="Lasagna">
    <br>
    Recipe Description:<br>
    <input type="text"
       rows="5" 
       style="width:200px; height:50px;" 
       name="description" 
       placeholder="Description" />
    <br><br>
    <input type="submit" value="Submit My Recipe!">
</form> 

</body>
</html>