{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Prototype</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
  <h1> Hodge Podge </h1>    
  <h2> Recipes Under Review </h2>
  <a href = "{% url 'ingredientSelect' %}"> Submit Recipe </a>
  
  <script>
      var socket = new WebSocket('ws://p4-zscheftel-zscheftel981380.codeanyapp.com:8765/');
  </script>
</body>
</html>